.spinner {
    display: inline-block;
}

.circle {
    border-radius: 50%;
    border: 3px solid var(--color-gray-200);
    border-top-color: var(--color-primary);
    animation: spin 1s linear infinite;
}

.sm .circle {
    width: 20px;
    height: 20px;
}

.md .circle {
    width: 40px;
    height: 40px;
}

.lg .circle {
    width: 60px;
    height: 60px;
    border-width: 4px;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}